body
{
	margin: 0;
	padding: 0;
	background: #03a9f4;
}
.box
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.box .face1,
.box .face2
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.box .face1
{
	background: url(bottle2.png); /* image url in description*/
	background-repeat: no-repeat;
	background-position: center;
}
.box .face2
{
	background: url(bottle1.png); /* image url in description*/
	background-repeat: no-repeat;
	background-position: center;
}
.seprator
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 768px;
	background: #03a9f4;
}